body {
    background: url('../img/loginFinal.jpg') no-repeat center fixed;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
  }

.button01:hover, .button02:hover{
    background-color: rgb(0, 0, 156);
}

a{
    color: rgb(100, 131, 226);
    font-weight: bold;
    font-size: 100%;
    text-decoration:  none!important;

}

a:hover{
    text-decoration: none !important;
    font-size: 110%;
    color: #e14166 !important;
    opacity: 1;

}
.photo{
    background-color: aliceblue;
    border: 1px aliceblue solid;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 15px;
    margin-top: 10%;
    opacity: 0.6;
}
.photo:hover{
    opacity: 1;
}
.selection{
    display: inline-block;
    /*background-color: #d5d56e;*/
    margin-right: 10px;
    opacity: 0.6;
    border-radius: 15px;

}
.selection:hover{
    opacity: 1;
}

.wrapper{
    /*background: #e6e6e6;*/
    /*color: #000000;*/
    padding: 5%;
    border-radius: 15px;
    text-align: center;
    word-break: break-word;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    margin-top:15%;
    border-style: ridge;
    border: 2px solid whitesmoke;
    /*opacity: 0.95;*/
}

