body {
    background: url('../img/loginFinal.jpg') no-repeat center fixed;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
  }

/*.main-win form{*/
/*    background-color: rgb(44, 44, 37);*/
/*    !*width: 40%;*!*/
/*    display: inline-block;*/
/*    margin-top: 8%;*/
/*    padding: 3%;*/
/*    border: 3px solid aliceblue !important;*/
/*    border-radius: 1.5% !important;*/
/*    opacity: 0.97;*/
/*}*/

/*.button01, .button02{*/
/*    height: 180px;*/
/*    width: 180px;*/
/*    background-color: #2961aa;*/
/*    margin: 20px;*/
/*    color: white;*/
/*    font-size: medium;*/
/*    border-color: rgb(13, 13, 71);*/
/*    border-radius: 3%;*/

/*}*/

.button01:hover, .button02:hover{
    background-color: rgb(0, 0, 156);
}

a{
    color: rgb(100, 131, 226);
    font-weight: bold;
    text-decoration:  none!important;
}

a:hover{
    text-decoration: none !important;
    color: royalblue;
}
.photo{
    background-color: aliceblue;
    border: 1px aliceblue solid;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 15px;
}
.selection{
    display: inline-block;
    margin-right: 10px;
}
.wrapper{
    /*background: #e6e6e6;*/
    /*color: #000000;*/
    padding: 5%;
    border-radius: 15px;
    text-align: center;
    word-break: break-word;
    background-color: rgb(44, 44, 37);
    color: aliceblue;
    margin-top:75px;
    border-style: ridge;
    border: 2px solid whitesmoke;
    /*opacity: 0.95;*/
}

