body{
    background-color: violet;
    background: url("../img/loginFinal.jpg") no-repeat center fixed;
    background-size: cover;
}

.wrapper{
    width: 50%;
    background-color: rgb(44, 44, 37);
    padding: 3%;
    color: aliceblue;
    margin-top: 4%;
    border-style: ridge;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.btn{
    color: white;
}
.buttons{
    text-align: center;
}
.ctrlbutton{
    width: 185px;
}

.col-sm-2{
    text-align: center;
}
.heading{
    padding:15px 0;
    color:aliceblue;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 3px #000000, 0 0 3px rgb(44, 44, 37);
}

