body{
    background-color: violet;
    background: url("../img/loginFinal.jpg") no-repeat center fixed;
    background-size: cover;
}


#contanier-data {
    width: 50%;
    background-color: rgb(44, 44, 37);
    padding: 5%; 
    
    margin-top: 8%;
    border-style: ridge;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    
}

.passenger_id{
    width: 100%;
}

.row{
    color: aliceblue;
    word-spacing: 2x;
}

.alert{
    padding: 1%;
    text-align: center;
}
