body{
    background-color: violet;
    background: url("../img/loginFinal.jpg") no-repeat center fixed;
    background-size: cover;
}

.wrapper{
    /*width: 53%;*/
    background-color: rgb(44, 44, 37);
    /*padding: 0.5%;*/
    
    margin-top: 0.5%;
    border-style: ridge;
    border: 2px solid whitesmoke;
    border-radius: 10px;

    text-align: center;


}

.control-label{
    color: aliceblue;
}
#heading{
    font-weight: bold;
    color: aliceblue;
}

.alert{
    padding: 1%;
}
/*.navigation{*/
/*    position: fixed;*/
/*}*/

