body{
    background-color: violet;
    background: url("../img/PassBlue.jpg") no-repeat center fixed;
    background-size: cover;
}

#contanier-data {
    width: 45%;
    background-color: rgb(39, 39, 32);
    padding: 3%; 
    color: aliceblue;
    margin-top: 8%;
    border-style: ridge;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    
}

#btn-primary-Not{
    width: 55%;
}

.alert{
    text-align: center;
    padding: 0.5%;
}