body{
    background-color: violet;
    background: url("../img/loginFinal.jpg") no-repeat center fixed;
    background-size: cover;
}


.wrapper{
    /*width: 50%;*/
    background-color: rgb(39, 39, 32);
    padding: 5%;
    color: aliceblue;
    margin-top: 3%;
    border-style: ridge;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    
}
.tob_bar_alert{
    padding: 5px !important;
    margin-bottom: 0px !important;
}

.navbar-inverse{
    margin-bottom: 0px !important;
}
.heading{
    padding:15px 0;
    color:aliceblue;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 3px #000000, 0 0 3px rgb(44, 44, 37);
}