body{
    background-color: violet;
    background: url("../img/loginFinal.jpg") no-repeat center fixed;
    background-size: cover;
}

.wrapper{
    /*background: #e6e6e6;*/
    /*color: #000000;*/
    font-weight: bold;
    /*padding: 10px;*/
    border-radius: 15px;
    text-align: center;
    word-break: break-word;
    background-color: rgb(44, 44, 37);
    color: aliceblue;
    margin-top:40px;
    border-style: ridge;
    border: 2px solid whitesmoke;
    /*opacity: 0.95;*/
}
th{
    text-align: center;
}
#error{
    text-align: center;
}

.alert{
    padding: 1%;
}

.heading{
    padding:15px 0;
    color:aliceblue;
    /*text-align: center;*/
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 3px #000000, 0 0 3px rgb(44, 44, 37);
    /*color: white;*/
}