body{
    background-color: violet;
    background: url("../img/loginFinal.jpg") no-repeat center fixed;
    background-size: cover;
}

#contanier-data {
    width: 50%;
    background-color: rgb(44, 44, 37);
    padding: 3%; 
    color: aliceblue;
    margin-top: 8%;
    border-style: ridge;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    opacity: 0.95;
    
}

.row{
    color: aliceblue;
    word-spacing: 2x;
}

.heading{
    padding:15px 0;
    color:aliceblue;
    /*text-align: center;*/
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 3px #000000, 0 0 3px rgb(44, 44, 37);
    /*color: white;*/
}