body{
  background: url('../img/login2.jpg') no-repeat center fixed;
  background-size: cover;
}
  
  .login-dark form {
    max-width:320px;
    width:90%;
    background-color:#162941;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
  }
  
  .login-dark .illustration {
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
    color:#2980ef;
  }
  
  .login-dark form .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
  }
  
  .login-dark form .btn-primary {
    background:#2961aa;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
  }
  
  .login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background:#0e376d;
    outline:none;
  }
  
  .login-dark form .signup {
    display:block;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
    float: right;
  }


  
  .login-dark form .signup:hover, .login-dark form .signup:active {
    opacity:1;
    text-decoration:none;
  }
  
  .login-dark form .btn-primary:active {
    transform:translateY(1px);
  }

  .login-dark form .sign_up{
    font-size: 14px;
    text-align: left;
    color: #4f9afc;
    float: left;
}

img {
  width: 70%;
  height: 70%;
}

h1{
  background: transparent;
  color: rgb(99, 74, 243);
  font-size:80px;
  background-color: transparent;
  text-shadow: 2px 2px 2px #b9b9f8;

}
  
  