.container{
  margin-top: 10px;
}
.wrapper{
  background-color: rgb(44, 44, 37);
  color: aliceblue;
  opacity: 0.95;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
}
.heading{
  padding:15px 0;
  color:aliceblue;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 0 3px #000000, 0 0 3px rgb(44, 44, 37);
}
body{
  /*background: #081645 url(../img/login2.jpg);*/
  background: url("../img/loginFinal.jpg") no-repeat center fixed;

  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}
.ctrlbutton{
  width: 185px;
}
.accepted{
  background-color: #e1e990 !important;
}
.state{
  height: 34px !important;
  margin-bottom: 0px !important;

  padding:5px !important;
}
