.wrapper{
    /*background: #e6e6e6;*/
    /*color: #000000;*/
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    word-break: break-word;
    background-color: rgb(44, 44, 37);
    color: aliceblue;
    margin-top:75px;
    border-style: ridge;
    border: 2px solid whitesmoke;
    opacity: 0.95;
}
#heading{
    padding:15px 0;
    font-family: 'Roboto', sans-serif;
}
.field{
    text-align: center;
}
body{
    background-color: #0d1b2d;
}
h1{
    color: antiquewhite;
}