.container{
  margin-top: 10px;
}
.wrapper{
  background-color: #4e5358;
  color: white;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
}
.heading{
  padding:15px 0;
  /*text-align: center;*/
  font-family: 'Roboto', sans-serif;
  /*color:black;*/
}
body{
  /*background: #081645 url(../img/login2.jpg);*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}
.ctrlbutton{
  width: 185px;
}
